body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6ead4;
    font-family: "Cabin", sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.heart-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

.heart {
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    background-image: url('heart.svg'); /* Replace 'heart.svg' with the path to your heart-shaped image */
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.heart:hover {
    background-image: url('heart-green.svg'); /* Replace 'heart-green.svg' with the path to your green heart-shaped image */
}

.heart.favorite {
    background-image: url('heart-favorited.svg'); /* Favorited icon */
}

.home-container {
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
}

.home {
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    background-image: url('home.svg');
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.home:hover {
    background-image: url('home-hovered.svg'); 
}

.tooltip {
    visibility: hidden;
    width: 120px;
    background-color:rgb(110, 110, 110);;
    color: whitesmoke;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 30px;
    right: 70%;
    margin-left: -60px;
}

.heart:hover .tooltip {
    visibility: visible;
}

.ingredient-list {
    flex: 1;
    padding: 20px;
    border-left: 1px solid #ccc;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: left; 
}

ul {
    list-style: none;
    padding: 0px;
}

li {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 17px;
    text-align: left;
}

.checkbox {
    margin-bottom: 10px;
}

.checkbox-select-all {
    margin-top: 20px;
}

.checkbox label {
    display: inline-block;
    cursor: pointer;
}

.checkbox-select-all label {
    display: inline-block;
    cursor: pointer;
}

.checkbox input[type="checkbox"] {
    display: none;
}

.checkbox-select-all input[type="checkbox"] {
    display: none;
}

.checkbox-custom {
    display: inline-block;
    width: 10px;
    height: 10px; 
    border: 1px solid #000;
    position: relative;
    margin-right: 10px;
}

.checkbox-custom::after {
    content: '';
    width: 8px; 
    height: 16px;
    border: solid #0a9c00;
    border-width: 0 2px 2px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -85%) rotate(45deg);
    opacity: 0;
}

.checkbox input[type="checkbox"]:checked + .checkbox-custom::after {
    opacity: 1;
}

.checkbox-select-all input[type="checkbox"]:checked + .checkbox-custom::after {
    opacity: 1;
}

h1 {
    margin-bottom: 0px;
    font-size: 60px;
    text-align: center;
}

#total {
    padding-bottom: 20px;
}

#btn-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex; 
    justify-content: space-between; 
    width: calc(100% - 40px); 
}

#btn-container-2 {
    margin-bottom: 0px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #479442;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:disabled {
    background-color: #ccc; 
    cursor: not-allowed; 
}

#next-btn {
    margin-left: auto; 
}

input[type="number"] {
    width: 50px; 
    text-align: center;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

label[for="select-all"] {
    text-align: center;
}

#next-btn:disabled:hover::after {
    content: "Check all ingredients to proceed";
    position: absolute;
    top: calc(100% - 70px);
    left: 94%;
    transform: translateX(-50%);
    background-color: rgb(110, 110, 110);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
}
