body {
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6ead4;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.logo {
    width: 400px;
    height: 400px;
    margin-bottom: -2%;
}

.login-form {
    text-align: center;
    width: 30%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group {
    width: 50%;
    margin-bottom: 10px;
    margin: 0 auto;
    margin-top: 10px;
}

.input-group label {
    text-align: center;
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.input-group select {
    text-align: center;
    border-color: rgb(197, 197, 197);
    border-radius: 4px;
    width: 108%; /* Set the width to 100% of its container */
    height: 34px;
}

.g-signin-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Add some top margin */
}

/* Override Google Sign-In button styling */
.g-signin2 {
    margin: 0 auto; /* Center horizontally */
}

#guestButton {
    margin-top: 4%;
    margin-right: 5%;
    width: 120px; /* Adjust width as needed */
    height: 43px; /* Adjust height as needed */
}

p {
    margin-top: 20px;
    margin-bottom: 30px;
}

button {
    margin: 0 auto;
    margin-top: 10px;
    background-color: #479442;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3c773e;
}

.tooltip {
    visibility: hidden;
    width: 150px;
    background-color: rgb(110, 110, 110);
    color: whitesmoke;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 89%;
    right: 35%;
    margin-left: -60px;
}

#guestButton:hover .tooltip {
    visibility: visible;
}

.signIn {
    padding: 10px 20px;
    margin: 0 auto;
    width: 120px; /* Adjust width as needed */
    height: 60px; /* Adjust height as needed */
}

.signInContainer {
    position: relative;
    display: inline-block;
}

.signInContainer:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
