body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6ead4;
    font-family: "Cabin", sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#recipe-image {
    width: 500px;
    height: 500px;
}

.recipe-details {
    flex: 1;
    padding: 20px;
    border-left: 1px solid #ccc;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: left; 
}

.steps {
    margin-top: 0px;
    margin-bottom: 0px;
    overflow-y: auto; /* Allow vertical scrolling */
    max-height: calc(100vh - 300px);
    list-style-type: decimal;
    padding-left: 20px;
    line-height: 2;
    padding-right: 20px;
}

/* Add scrollbar indicator */
.steps::after {
    content: "";
    position: absolute;
    top: 0;
    width: 8px; /* Width of the scrollbar indicator */
    background-color: rgba(0, 0, 0, 0.5); /* Color of the scrollbar indicator */
}

.steps::-webkit-scrollbar {
    width: 8px;
}

.steps::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    width: 6px;
}

.steps::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.recipe-image img {
    margin-top: 5%;
    margin-right: 10%;
    width: 70%;
    height: auto;
}

.steps li {
    list-style-type: none; /* Remove bullet points */
    margin-left: 0; /* Remove default left margin */
}

ul {
    list-style: none;
    padding: 0px;
    margin-left: 50px;
}

.navigation {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}

.navigation button:hover {
    background-color: #ddd;
}

button:disabled {
    background-color: #ccc; 
    cursor: not-allowed; 
}

#ListPara {
    margin-bottom: 0%;
    margin-top: 0%;
    margin-left: 3.2%;
}

#btn-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 40px);
}

#btn-container-2 {
    margin-bottom: 0px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #479442;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.steps li label {
    max-width: 1000px; /* Adjust the maximum width as needed */
    display: inline-block;
    word-wrap: break-word;
}

.checkbox {
    margin-bottom: 10px;
}

.checkbox label {
    display: inline-block;
    cursor: pointer;
}

.checkbox input[type="checkbox"] {
    display: none;
}

.checkbox-custom {
    display: inline-block;
    width: 10px;
    height: 10px; 
    border: 1px solid #000;
    position: relative;
    margin-right: 10px;
}

.checkbox-custom::after {
    content: '';
    width: 8px; 
    height: 16px;
    border: solid #0a9c00;
    border-width: 0 2px 2px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -85%) rotate(45deg);
    opacity: 0;
}

.checkbox input[type="checkbox"]:checked + .checkbox-custom::after {
    opacity: 1;
}

/* Add styles for the heart button */
.heart-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

.heart {
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    background-image: url('heart.svg'); /* Replace 'heart.svg' with the path to your heart-shaped image */
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.heart:hover {
    background-image: url('heart-green.svg'); /* Replace 'heart-green.svg' with the path to your green heart-shaped image */
}

.home-container {
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
}

.home {
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    background-image: url('home.svg');
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.home:hover {
    background-image: url('home-hovered.svg'); 
}

/* Add styles for the tooltip */
.tooltip {
    visibility: hidden;
    width: 120px;
    background-color:black;
    color: whitesmoke;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 30px;
    right: 70%;
    margin-left: -60px;
}

.heart:hover .tooltip {
    visibility: visible;
}

