body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6ead4;
    font-family: "Cabin", sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.ingredient-list {
    flex: 1;
    padding: 20px;
    border-left: 1px solid #ccc;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: left; 
}

ul {
    list-style: none;
    padding: 0px;
    display: flex;
}

li {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 17px;
    text-align: center;
}

.checkbox {
    margin-bottom: 10px;
}

.checkbox label {
    display: inline-block;
    cursor: pointer;
}

.checkbox input[type="checkbox"] {
    display: none;
}

.checkbox-custom {
    display: inline-block;
    width: 10px;
    height: 10px; 
    border: 1px solid #000;
    position: relative;
    margin-right: 10px;
}

.checkbox-custom::after {
    content: '';
    width: 8px; 
    height: 16px;
    border: solid #0a9c00;
    border-width: 0 2px 2px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -85%) rotate(45deg);
    opacity: 0;
}

.checkbox input[type="checkbox"]:checked + .checkbox-custom::after {
    opacity: 1;
}

h1 {
    margin-bottom: 0px;
    font-size: 60px;
    text-align: center;
}

#total-cookies {
    padding-bottom: 20px;
}

#btn-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex; 
    justify-content: space-between; 
    width: calc(100% - 40px); 
}

#btn-container-2 {
    margin-bottom: 0px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #479442;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:disabled {
    background-color: #ccc; 
    cursor: not-allowed; 
}

#next-btn {
    margin-left: auto; 
}

input[type="number"] {
    width: 50px; 
    text-align: center;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}